<p>home works!</p>

<div class="hover-wrapper" [class.active]="clickCounter > 7">
  <span (click)="countClick()" class="hover">click</span>
  <p>clicks: {{ clickCounter }}</p>
</div>

<div class="form" [ngStyle]="{
  'background-color': clickCounter > 2 ? 'red' : 'blue'
}">
  <input type="text" [(ngModel)]="name" />
  <div>{{ name }}</div>
</div>

<div [style.background-color]="clickCounter > 5 ? 'yellow' : 'red'">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    Greater than 4
  </ng-template>
  <ng-template #none>
    Not greater
  </ng-template>
</div>

<div [ngClass]="setClasses()">test classes</div>
