<header>
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row class="header-toolbar">
      <div class="header-toolbar--left">
        <button mat-icon-button (click)="menuButtonClicked.emit()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Мениджър</span>
      </div>
      <img src="assets/images/logo-small.png" alt="" class="logo">
      <div class="header-toolbar--right">
        <a href="/" mat-button>Сайт</a>
        <a mat-button routerLink="/content/login" (click)="authService.logoutUser()">Изход</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
