<mat-nav-list>
  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="true" class="side-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Основни
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item [routerLink]="'/content'">Табло</a>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" class="side-expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Страници
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a *ngFor="let page of pages" mat-list-item
        [routerLink]="page.url === '/' ? '/content' + '/home' : '/content' + page.url ">{{ page.name.bg }}</a>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
