/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/dist/css/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tab-group {
  margin: 15px 45px;
  mat-tab-body {
    margin: 35px 0;
  }
}

.mobile {
  .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
}

.snackbar-success {
  background-color: #43A047;
  color: white;
}

.snackbar-error {
  background-color: #E53935;
  color: white;
}

