<footer id="footer-default">
    <div class="container">
        <div class="row">
            <div class="col-12 footer-nav">
                <ul>
                    <% footerPages.forEach((item) => { %>
                        <li><a href="<%= item.url %>" class="fadeout-page"><%= item.name[getLocale] %></a></li>
                    <% }); %>
                </ul>
            </div>
            <div class="col-12">
                <%- include ../copyright.ejs %>
            </div>
            <div class="col-12 site-author">
                Development &amp; design by <a href="https://www.linkedin.com/in/radoslav-lazarov-02291215a/" target="blank">Radoslav Lazarov</a>
            </div>
        </div>
    </div>
</footer>
<a href="https://m.me/449532792515169" class="fb-messenger" target="blank">
    <i class="fab fa-facebook-messenger"></i>
</a>
<div id="loading-screen">
    <svg width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
        <path ng-attr-d="{{config.pathCmd}}" ng-attr-fill="{{config.color}}" stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#a071a0" transform="rotate(263.845 50 51)">
            <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        </path>
    </svg>
</div>
