<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../headNotFound.ejs %>
</head>

<body>
    <%- include ../googleTagManager.ejs %>
    <main>
        <%- body -%>
    </main>
    <%- include ../scripts.ejs %>
</body>

</html>