<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '416656852509755',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.3'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js"></script>

<header>
    <nav>
        <ul>
            <% navCategories.forEach(function(category) { %>
                <li><a href="<%= category.url %>"><%= category.name[getLocale] %></a></li>
            <% }); %>
        </ul>
    </nav>
    <div>
        <ul>
            <li><a class="<%= (lang=="bg"?"active":"") %>" href="/lang/bg">Bulgarian</a></li>
            <li><a class="<%= (lang=="en"?"active":"") %>" href="/lang/en">English</a></li>
        </ul>
    </div> 
</header>
