<!-- <div class="container" *ngIf='validate'>
  <div class="row">
    <div class="col-12">
      <div class="hover-wrapper" [class.active]="clickCounter > 7">
        <span (click)="countClick()" class="hover">click</span>
        <p>clicks: {{ clickCounter }}</p>
      </div>

      <div class="form" [ngStyle]="{
          'background-color': clickCounter > 2 ? 'red' : 'blue'
        }">
        <input type="text" [(ngModel)]="name" />
        <div>{{ name }}</div>
      </div>

      <div [style.background-color]="clickCounter > 5 ? 'yellow' : 'red'">
        <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
          Greater than 4
        </ng-template>
        <ng-template #none>
          Not greater
        </ng-template>
      </div>

      <div [ngClass]="setClasses()">test classes</div>
    </div>
  </div>
</div> -->


<!-- <mat-grid-list cols="1" rowHeight="100px" gutterSize="15px">
  <mat-grid-tile>
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    <button mat-button>Click me!</button>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
HOME
