.contacts-wrapper {
    .contact {
        display: flex;
        flex-direction: column;
        margin: 15px;
        // padding-top: 25px;
        // padding-bottom: 25px;
        &:hover {
            .contact__icon {
                transform: translateY(10px);
            }
            .contact__value {
                color: $purple-dark;
            }
        }
        &__icon {
            text-align: center;
            transition: transform .5s ease-in-out;
            i {
                margin-bottom: 15px;
                color: $purple-dark;
                font-size: 2.5em;
            }
        }
        &__description {
            // padding: 15px 0;
            margin: 0;

        }
        &__name {
            margin-bottom: 10px;
            text-align: center;
            font-family: 'Cormorant Garamond', serif;
            text-transform: capitalize;
        }
        &__value {
            text-align: center;
            transition: color .3s;
            // padding: 0 15px;
        }
    }
    .working-time {
        @include flex-center;
        flex-direction: column;
        @media (max-width: 576px) {
            font-size: 0.875em;
        }
        &__title {
            font-family: 'Cormorant Garamond', serif;
        }
        &--closed {
            color: $red;
        }
        &--open {
            color: $green;
        }
        &--opens-soon, &--closes-soon, &--rest {
            color: $orange;
        }
        &--open, &--closed, &--opens-soon, &--closes-soon, &--rest {
            margin-bottom: 10px;
            text-transform: uppercase;
            text-align: center;
        }
        &__row {
            display: flex;
            justify-content: space-between;
            width: 400px;
            border: 1px solid transparent;
            padding: 0 5px;
            @media (max-width: 576px) {
                width: 300px;
            }
        }
        &__day {
            text-transform: capitalize;
        }
        i {
            text-align: center;
            color: $purple-dark;
            font-size: 2.5em;
        }
        &.working-time__open {
            .working-time--current-day {
                color: $green;
                border-color: $green;
            }
        }
        &.working-time__closed {
            .working-time--current-day {
                color: $red;
                border-color: $red;
            }
        }
        &.working-time__opens-soon, &.working-time__closes-soon, &.working-time__rest {
            .working-time--current-day {
                color: $orange;
                border-color: $orange;
            }
        }   
    }
}

#map {
    margin-bottom: 50px;
    iframe {
        width: 100%;
        height: 100%;
    }
    @media (min-height: 451px) {
        height: 450px;
    }
    @media (max-height: 450px) {
        height: 100vh;
    }
}

.form-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-form-container {
    margin: 50px 0;
    padding: 55px 25px;
    background-color: $white;
    &::before, &::after {
        content: "";
        position: absolute;
        top: -8%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 90px;
        height: 95px;
    }
    &::before {
        left: -4%;
        background-image:url('/static/images/graphics/bird-1.png');
        
    }
    &::after {
        right: -4%;
        background-image:url('/static/images/graphics/bird-2.png');
    }
    .form-image-left, .form-image-right {
        position: absolute;
        width: 90px;
    }
    .form-image-left {
        top: -8%;
        left: -4%;
        // transform: rotate(-10deg);
    }
    .form-image-right {
        top: -8%;
        right: -4%;
        // transform: rotate(10deg);
    }
    .form-group {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 25px 45px 25px;
        margin-bottom: 45px;
        .error {
            @include position(absolute, auto, auto, -18px, 5px);
            font-size: 0.813em;
            color: $red;
            &--invalid, &--required {
                display: none;
            }
        }
        label {
            position: absolute;
            left: 5px;
            margin: 0;
            transition: all .3s ease;
            pointer-events: none;
            color: $purple-dark;
        }
        textarea {
            resize: none;
            line-height: 1.9;
        }
        input, textarea {
            width: 100%;
            padding: 0 5px;
            border: none;
            background: transparent;
            color: $purple-dark;
            &:focus ~ label, &.has-value ~ label {
                transform: translateY(-25px);
                font-size: 0.875em;
                color: $purple-dark;
            }
            &:focus ~ .bar::before {
                width: 100%;
                left: 0;
            }
        }
        textarea {
            width: 100%;
        }
        .bar {
            position: relative;
            border-bottom: 1px solid $purple-dark;
            display: block;
            width: 100%;
            &::before {
                content: '';
                height: 2px;
                width: 0;
                left: 50%;
                bottom: -0.0625rem;
                position: absolute;
                background: $purple-dark;
                -webkit-transition: left 0.28s ease, width 0.28s ease;
                transition: left 0.28s ease, width 0.28s ease;
                z-index: 2;
            }
        }
    }
    .form-error {
        display: none;
        color: $red;
        text-align: center;
        font-size: 0.875em
    }
    .form-submit {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
        .button {
            cursor: pointer;
            @media screen and (max-width: 430px) {
                font-size: 0.625em;
                padding: 14px 10px;
            }
            input {
                color: inherit;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 3px;
            }
        }
        input[type="submit"] {
            background-color: inherit;
            border: none;
            width: 0;
            height: 0;
            padding: 0;
        }
    }
    > .error {
        display: none;
        text-align: center;
        color: $red;
    }
}
