.contacts-wrapper {
    .contact {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 25px;
        &__icon {
            text-align: center;
            i {
                color: $purple-dark;
                font-size: 2.5em;
            }
        }
        &__description {
            padding: 10px 0;
            margin: 0;

        }
        &__name {
            text-align: center;
            font-family: 'Cormorant Garamond', serif;
            text-transform: capitalize;
        }
        &__value {
            text-align: center;
            a {
                color: inherit;
            }
        }
    }
}


#map {
    @media (min-height: 451px) {
        height: 450px;
    }
    @media (max-height: 450px) {
        height: 100vh;
    }
}

.working-time__day {
    display: flex;
    justify-content: space-between;
}

// .map-overlay {
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 155px;
//     background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
//     @media (max-width: 1200px) {
//         display: none;
//     }
// }
