.swiper-container {
    display: flex;
    align-items: center;
    min-height: inherit;
    width: 100%;
    margin-top: 120px;
    padding: 20px 0 50px 0;
    .swiper-wrapper {
        height: unset;
        .swiper-slide {
            max-width: 50%;
            border: 3px solid $white;
            @media (max-width: 768px) {
                max-width: 83%;
            }
            &--last {
                background-color: rgba(0,0,0,0.3);
                .load-videos {
                    @include position(absolute, 0, 0, 0, 0);
                    @include height-width-100;
                    @include flex-center;
                    .view-more {
                        font-family: 'Cormorant Garamond', serif;
                        color: $white;
                        font-size: 2em;
                        text-transform: uppercase;
                        @media (max-width: 414px) {
                            font-size: 1.5em;
                        }
                    }  
                }
                &:hover , &:focus, &:active {
                    animation: pulse 1.5s infinite;
                    animation-timing-function: ease-in-out; 
                    cursor: pointer; 
                }
            }
            .youtube {
                padding-top: 56.25%; /* 16:9 Aspect Ratio */
                &__player {
                    @include position(absolute, 0, 0, 0, 0);
                    @include height-width-100;
                    border: none;
                }
            }
        }
    }
    .swiper-scrollbar {
        @include position(absolute, inherit, 0, 5%, 0);
        position: absolute;
        width: 100%;
        height: 7px;
        cursor: pointer;
        @media (max-width: 768px) {
            height: 10px;
        }
        .swiper-scrollbar-drag {
            background-color: rgba($white, 0.5);
            cursor: grab;
        }
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev, .swiper-button-next {
        margin-top: 0;
        top: unset;
        @media (min-width: 768px) {
            width: 80px;
            height: 80px;
        }
        &:focus {
            outline: none;
        } 
    }
}
