@mixin absolute-0 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin height-width-100 {
    height: 100%;
    width: 100%;
}

// Underline hover animation
@mixin line-animation($height, $background) {
    .line-animation {
        display: inline-block;
        &:after {
            content: '';
            display: block;
            margin: auto;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
            height: $height;
        }        
        &:hover:after {
            width: 100%;
            background: $background;
        }
    }
}

// Button class hover animation
@mixin button-animation($color, $hoverColor) {
    .button {
        position: relative;
        @include flex-center;
        padding: 14px 40px;
        margin: 20px;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 900;
        letter-spacing: 3px;
        overflow: hidden;
        border: 2px solid $color;
        color: $color;
        text-align: center;
        transition: color .5s;
        &:hover {
            cursor: pointer;
            color: $hoverColor;
            text-decoration: none;
            transition: color .5s;
        }
        span {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            transition: width 0.4s, height 0.4s;
            z-index: -1;
            background-color: $color;
        }
    }
}
