$white: #fff;
$black: #000;
$background-color-dark: #121212;
$background-color-light: #f9f9f9;
// $purple-dark: #755275;
$purple-dark: #573957;
$purple-light: #f4eaf4;
$red: #b60000;
$orange: #c78f21;
$green: #036403;
// #c1a1c1
$font-primaty: 'Montserrat', sans-serif;
$font-secondary: 'Cormorant Garamond', serif;