#header-home {
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    width: 100%;
    z-index: 100;

    .header-top {
        position: absolute;
        z-index: 1;

        .social {
            display: flex;
            padding: 5px 0 0 50px;
    
            a {
                margin-right: 5px;
            }
        }
    
        .language{
            padding: 5px 50px 0 0;
        
            ul {
                display: flex;
                justify-content: flex-end;
                text-transform: uppercase;
                margin: 0;
    
                li {
                    margin-left: 5px;
                }
            }
        }
    }
        
    .logo-wrapper {
        position: absolute;
        top: 10px;
        
        .logo {
            width: 250px;
            margin: 0 auto;
        }

        img {
            width: 100%;
        }
    }
    
    a {
        // color: #a071a0;
        color: $white;

        &:hover {
            text-decoration: none;
            // color: #c1a1c1;
        }
    }

    nav[role="main-nav"] {
        width: 75%;
        margin: auto;

        ul {
            display: flex;
            justify-content: space-around;
            margin: 45px 0;
    
            li {
                margin-right: 15px;
                font-size: 1.25em;
                font-weight: 700;
                text-transform: uppercase;
                
                &:nth-child(3) {
                    margin-right: 300px;
                }

                &:last-child {
                    margin-right: 0;
                }
    
                .active {
                    text-decoration: underline;
                }
    
                &:after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 2px;
                    width: 0px;
                    background: transparent;
                    transition: width .5s ease, background-color .5s ease;
                }
    
                &:hover:after {
                    width: 100%;
                    background: $white;
                }
            }
        }
    }   
}

