#footer-default {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    margin-top: 25px;
    color: $white;
    border-top: 1px solid rgba($color: $purple-dark, $alpha: 0.1);
    background-color: $purple-dark;
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
    .footer-nav {
        padding: 0;
        ul {
            display: flex;
            justify-content: center;
            padding: 0;
            margin-bottom: 5px;

            li {
                text-transform: uppercase;
                font-size: 0.75em;
                @media screen and (max-width: 414px) {
                    font-size: 0.625em;
                }
                &::after {
                    content: "|";
                    margin: 0 5px;
                }
                &:last-child::after{
                    content: "";
                }
            }
        }
    }
    .copyright, .site-author {
        text-align: center;
        font-size: 0.625em;
        @media screen and (max-width: 414px) {
            font-size: 0.563em;
        } 
    }
}