.header {
    $self: &;
    @include position(absolute, 0, auto, auto, auto);
    width: 100%;
    font-family: 'Cormorant Garamond', serif;
    @media screen and (min-width: 1201px) {
        transform: translatey(0%);
        transition: transform .3s cubic-bezier(0.52, 0.01, 0.16, 1);
        z-index: 10;
    }
    &__top {
        padding-top: 5px;
        @media screen and (max-width: 1200px) {
            @include position(absolute, 0, auto, auto, auto);
            padding-top: 0px;
        }
        .socials, .languages {
            @media screen and (max-width: 1200px) {
                @include position(absolute, 28px, auto, auto, 15px);
            }
            &__links {
                display: flex;
                @media screen and (max-width: 1200px) {
                    opacity: 0;
                    transition: all .4s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
                    transform: translateY(-40px);
                }
            }
        }
        .socials {
            z-index: 21;
            &__links {
                a {
                    margin-right: 5px;
                }
            }
        }
        .languages {
            right: 80px;
            z-index: 20;
            &__links {
                justify-content: flex-end;
                text-transform: uppercase;
                margin: 0;
                li {
                    margin-left: 5px;
                    .circle-animate.active {
                        &::before {
                            border-top-color: $white;
                            border-right-color: $white;
                            border-bottom-color: $white;
                        }
                        &::after {
                            border-top: 2px solid $white;
                            border-left-width: 2px;
                            border-right-width: 2px;
                            transform: rotate(270deg);
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        overflow: hidden;
        padding: 0;
        a {
            color: $white;
        }
        .navigation {
            display: flex;
            justify-content: space-between;
            width: 85%;
            margin: auto;
            @media screen and (max-width: 1440px) {
                width: 90%;
            }
            @media screen and (max-width: 1200px) {
                @include flex-center;
                flex-direction: column;
                height: 100vh;
                transition: height 1s ease-out;
                width: 100%;
                &--left li {
                    &:nth-child(1) {
                        transform: translateY(-40px);
                    }
                    &:nth-child(2) {
                        transform: translateY(-40px * 2);
                    }
                    &:nth-child(3) {
                        transform: translateY(-40px * 3);
                    }
                }
                &--right li {
                    &:nth-child(1) {
                        transform: translateY(-40px * 4);
                    }
                    &:nth-child(2) {
                        transform: translateY(-40px * 5);
                    }
                    &:nth-child(3) {
                        transform: translateY(-40px * 6);
                    }
                }
            }
            &--left, &--right {
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
                padding: 0;
                @media screen and (max-width: 1200px) {
                    position: relative;
                    flex-direction: column;
                    justify-content: space-around;
                    z-index: 15;
                    height: 80vh;
                    width: unset;
                    margin: 0;
                    &:first-child {
                        margin-top: 30px;
                    }
                }
                li {
                    margin-right: 15px;
                    font-size: 1.25em;
                    font-weight: 700;
                    text-transform: uppercase;
                    @media screen and (max-width: 1200px) {
                        text-align: center;
                        margin-right: 0;
                        font-size: 1.5em;
                        opacity: 0;
                        transition: all .4s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
                    }
                    &:after {
                        content: '';
                        display: block;
                        margin: auto;
                        height: 2px;
                        width: 0px;
                        background: transparent;
                        transition: width .5s ease, background-color .5s ease;
                    }        
                    &:hover:after {
                        width: 100%;
                        background: $white;
                    }
                }
            }
        }
        .splash {
            @include position(absolute, 44px, 44px, auto, auto);
            width: 1px;
            height: 1px;
            &::after {
              content: "";
              @include position(absolute, -142vmax, auto, auto, -142vmax);
              display: block;
              z-index: 10;
              border-radius: 50%;
              background-color: $purple-dark;
              // screen diameter can be 142vmax at most, circle needs to be twice that size to cover it
              width: 284vmax;
              height: 284vmax;
              transform: scale(0);
              transform-origin: 50% 50%;
              transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
              will-change: transform;
            }
        } 
    }
    .logo {
        @include position(absolute, 10px, auto, auto, auto);   
        z-index: 1;
        &--big {
            display: block;
            width: 250px;
            @media screen and (max-width: 1200px) {
                z-index: 1;
                width: 200px;
            }
            @media screen and (max-width: 576px) {
                width: 150px;
            }
            @media screen and (max-height: 576px) {
                width: 150px;
            }
        }
        &--small {
            display: none;
            width: 34px;
        }
    }
    .nav-button {
        @include position(absolute, 20px, 20px, auto, auto);     
        display: none;
        padding: 0;
        border: 0;
        outline: 0;
        border-radius: 50%;
        background-color: rgba(0,0,0,.5);
        transition: background-color .15s linear;
        cursor: pointer;
        z-index: 200;
        @media screen and (max-width: 1200px) {
            display: block;
        }
        .nav-icon {
            display: block;
            cursor: pointer;
            color: $white;
            transform: rotate(0deg);
            transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
            &__bar, &__circle {
                fill: none;
                stroke: currentColor;
                stroke-width: 3;
                stroke-linecap: round;
            }
            &__bar {
                transform: rotate(0deg);
                transform-origin: 50% 50%;
                transition: transform .25s ease-in-out;
            }
            &__circle {
                @function circumference($r) {
                    $pi: 3.141592653;
                    @return 2*$pi*$r;
                }
                transition: stroke-dashoffset .3s linear .1s;
                stroke-dashoffset: circumference(23); // 23 is the <circle>'s radius
                stroke-dasharray: circumference(23);
            }
        }
    }
    // ---------------------------
    // Fixed header state
    // ---------------------------
    &--fixed {
        @include position(fixed, -53px, auto, auto, auto);
        z-index: 1000;
        background-color: $purple-dark;
        #{ $self }__top {
            display: none;
        }
        #{ $self }__bottom {
            .navigation ul li {
                &:hover:after {
                    background: $white;
                }
            }
        }
        .logo {
            top: unset;
            width: 36px;
            &--big {
                display: none;
            }
            &--small {
                display: block;
            }
        }
    }
    &--animated {
        transform: translatey(100%);
    }
    // ---------------------------
    // Active state
    // ---------------------------
    &--mobile-menu-open {
        #{ $self }__top {
            .languages .languages__links, .socials .socials__links {
                opacity: 1;
                transform: translateY(0);
            }
        }
        #{ $self }__bottom {
            .splash::after {
                transform: scale(1);
            }
            .navigation {
                &--left li, &--right li {
                    opacity:1;
                    transform: translateY(0);
                }     
            }
        }
        .nav-button {
            .nav-icon {
                transform: rotate(180deg);
                &__circle {
                    stroke-dashoffset: 0;
                }
                &__bar:nth-child(1), &__bar:nth-child(4) {
                    opacity: 0;
                }
                &__bar:nth-child(2) {
                    transform: rotate(45deg);
                }
                &__bar:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
