<!-- <header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav>
          <ul>
            <li><a href="#" routerLink="/content">Home</a></li>
            <li><a href="#" routerLink="/content/test">Test</a></li>
            <li><a href="#" routerLink="/content/login" *ngIf="authService.loggedIn()"
                (click)="authService.logoutUser()">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header> -->
<!-- <header>
  <mat-toolbar color="primary" class="header-toolbar">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <nav>
      <ul>
        <li><a href="#" routerLink="/content">Home</a></li>
        <li><a href="#" routerLink="/content/test">Test</a></li>
        <li><a href="#" routerLink="/content/login" *ngIf="authService.loggedIn()"
            (click)="authService.logoutUser()">Logout</a></li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    <button mat-button>Click me!</button>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="15px">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="15px">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="15px">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="15px">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="15px">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="15px">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet></router-outlet>
<!-- <app-upload></app-upload> -->
