<% if (globalLocals.cookies.cookies_consent !== 'yes') { %>
<div class="container-fluid cookie-warning cookie-warning--homepage">
    <div class="row">
        <div class="col-12">
            <div class="row cookie-content">
                <div class="cookie-content__message">
                    <%= __('messages.cookies') %>
                </div>
                <div class="cookie-content__buttons">
                    <a href="/cookies" class="cookie-content__buttons--learn-more button fadeout-page">
                        <%= __('buttons.learnMore') %>
                        <span></span>
                    </a>
                    <a href="/cookies-consent" class="cookie-content__buttons--agree button">
                        <%= __('buttons.agree') %>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>