<% layout('common/layout/default') -%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="default">
                <%- pageResources.content.html[getLocale] %>
            </div>
        </div>
    </div>
</div>
