<% layout('common/layout/default') -%>

<div class="row">
    <div class="col-12">
        <div>Home page</div>
        <div>
            <p><%= translation.hello %></p>
        </div>
    </div>
</div>
