<% layout('common/layout/home') -%>

<div class="row m-0">
    <div class="col-12 p-0">
        <div class="background-video-wrapper"> 
            <video autoplay loop muted class="background-video">
                <source src="static/videos/background-video-mechka.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
