<% layout('common/layout/default') -%>

<div class="container">
    <div class="row justify-content-center videos">
        <% if (uploads) { %>
            <% uploads.forEach(function(item) { %>
                <div class="col-xl-6 d-flex justify-content-center pb-5 youtube-container">
                    <iframe width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/<%= item %>"
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                        class='youtube-player'>
                    </iframe>
                </div>
            <% }); %>
        <% }; %>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-12 d-flex justify-content-center pb-5">
            <div data-token="<%= nextPageToken %>" class="button" id="uploads">
                Load more
                <span></span>
            </div>
        </div>
    </div>
</div>
