<%  var currentYear = new Date().getFullYear(); %>

<div class="copyright">
    <div>2010 - <%= currentYear %> <%= translation.DEJAVU %>.</div>
    <div><%= translation.allRightsReserved %>.</div>
</div>