<ul class="language">
    <li><a class="circle-animate <%= (lang=="bg"?"active":"") %>" href="/lang/bg">bg</a></li>
    <li><a class="circle-animate <%= (lang=="en"?"active":"") %>" href="/lang/en">en</a></li>
</ul>