<% if (globalLocals.pageResources.imageCover) { %>
<div class="page-cover page-cover--full">
    <div class="page-cover__image" style="background-image:url('<%= globalLocals.pageResources.imageCover %>')">
    </div>
    <div class="page-cover__overlay page-cover__overlay--full"></div>
</div>
<% }; %>