<% if(pageResources.imageCover) { %>
    <div class="page-banner-video">
        <div class="page-banner__image onload" style="background-image:url('<%= pageResources.imageCover %>')"></div>
        <div class="page-banner-video__overlay"></div>
    </div>
<% }; %>