<div class="social">
    <a href="https://www.facebook.com/DEJAVURUSE/" class="circle-animate" target="blank">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="/" class="circle-animate">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="/" class="circle-animate">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="tel:+359887777072" class="circle-animate">
        <i class="fas fa-phone"></i>
    </a>
</div>