<div class="login-wrapper">
  <div class="logo-big">
    <img src="assets/images/logo-big-purple.png" alt="">
  </div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Вход</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form">
        <mat-form-field class="form__field">
          <input matInput placeholder="Потребител" [(ngModel)]="loginUserData.name" name="name" required>
        </mat-form-field>
        <mat-form-field class="form__field">
          <input matInput placeholder="Парола" [(ngModel)]="loginUserData.pass" name="pass" required>
        </mat-form-field>
      </form>
      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>
    <mat-card-actions class="card__actions">
      <button mat-raised-button color="primary" (click)="loginUser()">Вход</button>
    </mat-card-actions>
  </mat-card>
</div>
