.login-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  .logo-big {
    position: absolute;
    top: -50%;
    width: 200px;
    img {
      width: 100%;
    }
  }
  .card {
    margin-top: 25px;
    padding: 35px;
    &__actions {
      margin: 0;
      button {
        padding: 0 25px;
      }
    }
    .form {
      &__field {
        width: 100%;
      }
    }
  }
}
