.example-form {
  // min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-bottom: 25px;
}

mat-icon {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}

mat-card {
  margin-bottom: 50px;
}

.test2 {

}

.sample-image {
  width: 100%;
}

.example-card {
  max-width: 400px;
}
